[Unit]
Description=xremap key remapper
After=systemd-udevd.service

[Service]
Type=simple
ExecStart=/usr/bin/xremap /home/tariq/.config/xremap/config.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
